.userPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}